body {
  background-color: #e5f5f9;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}


#mapOne { height: 100vh;
        width: 100%;
      }
#mapTwo { height: 100vh;
        width: 100%;
      }
